img{
    width: 100px;
    height: 100px;
    padding: 0%;
    top: 0%;
}
h1{
    font-size: 30px;
}
.list-group-item{
    margin: 5px;
    transition: 0.2s;
}
.list-group-item:hover{
    transform: scale(1.1);
    background-color: cornflowerblue;
    color: white;
}